<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JSON Backup File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.json</string>
			</array>
			<key>NSDocumentClass</key>
			<string></string>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>NSMenuItem</key>
	<dict>
		<key>BackupAndRestore</key>
		<dict>
			<key>NSMenuItemModifierMask</key>
			<integer>1441792</integer>
			<key>NSMenuItemShortcut</key>
			<string>b</string>
			<key>NSMenuItemTitle</key>
			<string>Backup &amp; Restore…</string>
		</dict>
	</dict>
	<key>NSPrivacyAccessedAPITypes</key>
	<array>
		<dict>
			<key>NSPrivacyAccessedAPIType</key>
			<string>NSPrivacyAccessedAPITypeFileTimestamp</string>
			<key>NSPrivacyAccessedAPITypeReasons</key>
			<array>
				<string>CA92.1</string>
			</array>
		</dict>
	</array>
	<key>NSPrivacyAccessedAPIs</key>
	<array/>
	<key>NSPrivacyTracking</key>
	<false/>
	<key>NSPrivacyTrackingDomains</key>
	<array/>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>TEAM_ID</key>
	<string>$(TEAM_ID)</string>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.cs.allow-jit</key>
	<false/>
	<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
	<false/>
	<key>com.apple.security.cs.disable-executable-page-protection</key>
	<false/>
	<key>com.apple.security.cs.disable-library-validation</key>
	<false/>
	<key>com.apple.security.files.downloads.read-write</key>
	<true/>
	<key>com.apple.security.files.user-selected.read-write</key>
	<true/>
</dict>
</plist>
